body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-logo__brand {
  width: 135px;
  margin-right: 25px;
  margin-top: 15px;
  background: url(../public/icons/logo_motorcycles.svg) no-repeat 0 0;
  background-size: contain;
}

.header-login__svg::before {
  display: inline-block;
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  content: ' ';
  background: url(../public/icons/ic_lock_outline_black_24px.svg) no-repeat 0 0;
  background-size: contain;
}

#root nav a.header-logo__brand {
  color: transparent;
}

#root nav .header-login__svg + span {
  margin-left: 10px;
  position: relative;
  top: -10px;
}

.navbar {
  min-height: 60px;
}